/* nav {
    background-color: blue;
}

.hero {
    background-color: chartreuse;

    .hero-content {
        background-color: blue;
    }

    .hero-content h1 {
        background-color: red;
    }

    .hero-content p {
        background-color: red;
    }
}

.footer {
    background-color: red;
} */